/*
CSS for header
*/

.navbar ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  margin-top: 30px;
  margin-right: 40px;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Encode Sans', sans-serif;
}

/* Change the link color to #111 (black) on hover */
.navbar li a:hover {
  background-color: gainsboro;
}

.dropdown-content {
  display: none;
  position: absolute;
}

.dropdown-content a {
  float: none;
  overflow: hidden;
}

.dropdown:hover .dropdown-content {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
}

.top-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top-header img {
  max-width: 100px;
  height: auto;
  padding: 0;
  margin-left: 40px;
  margin-top: 30px;
}

header > p {
  margin-top: 100px;
  text-align: center;
  color:white;
  font-family: 'Encode Sans', sans-serif;
  font-size: 90px;
}

header {
  background-image: url("imgs/home.png");
  height: 600px;
  background-size: 100% 100%;
}

body {
  margin: 0;
}

.navbar ul li a {
  transition: all .3s;
}

.navbar ul li a:after {
  text-align: left;
  margin: 0;
  opacity: 0;
}
.navbar ul li a:hover {
  color:gray;
  z-index: 1;
}
.navbar ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

/*
End of CSS for header
*/

/*
Start of CSS for home page
*/
.subheader{
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: center;
  color:white;
  font-family: 'Encode Sans', sans-serif;
  font-size: 25px;
}

.homeheader{
  margin-top: 5px;
  text-align: center;
  color:white;
  font-family: 'Encode Sans', sans-serif;
  font-size: 90px
}
.Buttons{
  text-align: center;
}

.width{
  max-width: 778px;
  margin: 0px auto;
}

.line{
  max-width: 778px;
  margin-top: 40px; 
  margin-bottom: 40px;
}

.GoldTitle{
  margin-top: 18px;
  text-align: center;
  color:#85754D ;
  font-weight: bolder;
  font-family: 'Encode Sans', sans-serif;
  font-size: 48px
}

.PurpleTitle{
  margin-top: 18px;
  text-align: center;
  color: #4B2E83;
  font-weight: bolder;
  font-family: 'Encode Sans', sans-serif;
  font-size: 48px
}

.YellowTitle{
  margin-top: 18px;
  text-align: center;
  color: #B7A57A;
  font-weight: bolder;
  font-family: 'Encode Sans', sans-serif;
  font-size: 48px
}

.BlackTitle{
  margin-top: 18px;
  text-align: center;
  color: Black;
  font-weight: bolder;
  font-family: 'Encode Sans', sans-serif;
  font-size: 48px
}

.Goldsubtitle{
  margin-top: 18px;
  text-align: center;
  color:#85754D ;
  font-weight: bolder;
  font-family: 'Encode Sans', sans-serif;
  font-size: 24px
}

.Blacksubtitle{
  margin-top: 18px;
  text-align:left;
  color:Black ;
  font-weight: bolder;
  font-family: 'Encode Sans', sans-serif;
  font-size: 24px
}

.GoldBody{
margin-top: -30px;
text-align: center;
color:#85754D ;
font-weight: lighter;
font-family: 'open Sans', sans-serif;
font-size: 20px
}

.PurpleBody{
  margin-top: -30px;
  text-align: center;
  color:#4B2E83 ;
  font-weight: lighter;
  font-family: 'open Sans', sans-serif;
  font-size: 20px
  }

.YellowBody{
  margin-top: -30px;
  text-align: center;
  color:#B7A57A ;
  font-weight: lighter;
  font-family: 'open Sans', sans-serif;
  font-size: 20px
}

.BlackBody{
  margin-top: 0px;
  text-align: left;
  color:Black ;
  font-weight: lighter;
  font-family: 'open Sans', sans-serif;
  font-size: 20px
}

.GoldButton{
  background-color: #FFFFFF;
  color: #85754D;
  width: 222px;
  height: 66px;
  font: 'open Sans', sans-serif;
  font-size: 18px;
  border: #85754D solid 2px;
  margin-right: 25px;
  cursor: pointer;
  margin-bottom: 10px;
}

.PurpleButton{
  background-color: #FFFFFF;
  color: #4B2E83;
  width: 222px;
  height: 66px;
  font: 'open Sans', sans-serif;
  font-size: 18px;
  border: #4B2E83 solid 2px;
  margin-right: 25px;
  cursor: pointer;
  margin-bottom: 10px;
}

.YellowButton{
  background-color: #FFFFFF;
  color: #B7A57A;
  width: 222px;
  height: 66px;
  font: 'open Sans', sans-serif;
  font-size: 18px;
  border: #B7A57A solid 2px;
  margin-right: 25px;
  cursor: pointer;
  margin-bottom: 10px;
}


/*
  Footer CSS
*/
footer {
  position: relative;
  bottom: 0;
  max-width: 100%;
  height: 83px;
  text-indent: 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #333333;
  margin: 0;
  padding: 15px 23px;
}

footer p {
  margin-top: 29px;
  color: #FFFFFF;
}
/*
  End of Footer CSS
*/
